<div class="footer-background">
    <footer class="footer">
        <div class="footer-bottom">
            <p>
                <a href="mailto:hello@ashishkingdom.tech"
                    class="text-special">hello@ashishkingdom.tech</a>&nbsp;&nbsp;&nbsp;<a
                    href="https://github.com/ashishkingdom" target="_blank" class="link-underline">GitHub <i
                        class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>&nbsp;&nbsp;&nbsp;
                <a href="https://twitter.com/ashishkingdom" target="_blank" class="link-underline">Twitter <i
                        class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>&nbsp;&nbsp;&nbsp;
                <a href="https://www.linkedin.com/in/ashishkingdom" target="_blank" class="link-underline">LinkedIn <i
                        class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>&nbsp;&nbsp;&nbsp;
                <a href="https://www.instagram.com/ashishkingdom_" target="_blank" class="link-underline">Instagram <i
                        class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>
            </p>
            <p>&copy; 2025 Ashish Kushwaha. Made with ❤️ using HTMX.</p>
        </div>
</div>
</footer>
</div>