<!-- <div class="footer-background"> -->
<footer id="contact" class="footer">
    <div class="footer-bottom">
        <p id="contact-links" class="contact-section">
            <a href="mailto:hello@ashishkingdom.tech"
                class="text-special">hello@ashishkingdom.tech</a>&nbsp;&nbsp;&nbsp;<a
                href="https://github.com/ashishkingdom" target="_blank" class="link-underline">GitHub <i
                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="https://x.com/ashishkingdom" target="_blank" class="link-underline">X <i
                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/ashishkingdom" target="_blank" class="link-underline">LinkedIn <i
                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="https://www.instagram.com/ashishkingdom_" target="_blank" class="link-underline">Instagram <i
                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>
            <a href="https://paypal.me/ashishkingdom" target="_blank" class="link-underline">Buy Me a Coffee <i
                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>
        </p>
        <p>
            &copy; 2025&ndash;2026 Ashish Kushwaha. All rights reserved.<br />
            This site&rsquo;s original design, code, and content may not be reused without written permission.
            <a href="/LICENSE" class="link-underline">License &amp; usage</a>.
        </p>
        <p>
            The Julia Set and Hill Ranges were generated programmatically. <u>c</u> parameter for the Julia Set is
            courtesy of <a href="https://gallery.bridgesmathart.org/artists/oc1lrK/chris-m-thomasson" target="_blank"
                class="link-underline">Chris Thomasson <i
                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>.<br />
            The Hill Ranges background was inspired by the work of <a href="https://www.instagram.com/babialmeida1508/"
                target="_blank" class="link-underline">Bárbara Almeida <i
                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>.
            Third-party works remain subject to their respective owners&rsquo; terms.
        </p>
        <p>Made with ❤️ by Ashish Kushwaha.</p>
    </div>
    </div>
</footer>
<!-- </div> -->
