<div>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-brand">
                <a href="/" class="brand-link">&lt;/AshishKingdom&gt;</a>
            </div>
            <div class="navbar-menu navbar-menu-desktop">
                <a href="/articles.html" class="nav-item">Articles</a>
                <a href="#contact" class="nav-item">Get In Touch</a>
                <a href="https://drive.google.com/file/d/1Z-1oQDsjSvabKXEOGg3-3YKXvJFI69bx/view"
                    class="nav-item nav-highlight">Resume</a>
            </div>
            <button class="mobile-toggle" aria-label="Toggle menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="navbar-menu navbar-menu-mobile">
            <a href="/articles.html" class="nav-item btn btn-outline btn-sm">Articles</a>
            <a href="#contact" class="nav-item btn btn-outline btn-sm">Get In Touch</a>
            <div class="nav-row">
                <a href="https://github.com/ashishkingdom" class="btn btn-outline btn-sm" style="display: flow;"><i
                        class="fa-brands fa-github fa-2xl"></i></a>
                <a href="https://www.linkedin.com/in/ashishkingdom/" class="btn btn-outline btn-sm"
                    style="display: flow;"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                <a href="https://x.com/ashishkingdom" class="btn btn-outline btn-sm" style="display: flow;"><i
                        class="fa-brands fa-x-twitter fa-2xl"></i></a>
                <a href="https://drive.google.com/file/d/1Z-1oQDsjSvabKXEOGg3-3YKXvJFI69bx/view"
                    class="btn btn-primary btn-sm">Resume</a>
            </div>
        </div>
    </nav>
    <script src="js/navbar.js"></script>

</div>