<div class="fractal-background">
    <div class="section-container">
        <div class="preview-section">
            <h1 class="preview-title" style="margin-left: var(--spacing-sm);">History</h1>
            <ul class="timeline">
                <li>
                    <strong>2025-Present</strong>
                    <ul>
                        <li>I continued working at WeyaAI, adding whatsapp AI and email AI features to the product.
                            Later joined as Founding AI Engineer.</li>
                        <li>Sometimes I take client calls to understand their requirements and help them with onboarding
                            process.</li>
                        <li>Worked on optimizing the backend and AI pipelines, achieving &lt;700ms TAT for voice AI
                            responses.</li>
                        <li>Integrated various telephoney including Exotel, Plivo, Twilio, Telnyx, Ozonetel, etc.</li>
                        <li>Implemented features like warm call transfer, DTMF, IVR navigations, voicemails retry,
                            memory retention and many more.</li>
                        <li>I am currently working on optimization and scaling the system to handle 10x of current load.
                        </li>
                        <li>Also brainstorming to make creation of voice agents easier for non-technical users.</li>
                    </ul>
                </li>
                <li>
                    <strong>2024-25</strong>
                    <ul>
                        <li>Worked on backend and ML pipelines for Azzain (another project at BaseTech).</li>
                        <li>Azzain was an AI powered fashion app which allowed user to try clothes by uploading their
                            photos.</li>
                        <li>I joined <a class="link-underline" href="https://themangojelly.com"
                                target="_blank">TheMangoJelly <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a> as SDE Intern, worked
                            closely with <a class="link-underline" href="https://www.linkedin.com/in/kashyaprohit/"
                                target="_blank">Rohit <i class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>
                            and <a class="link-underline" href="https://www.linkedin.com/in/divyaupadhyay42/"
                                target="_blank">Divya <i class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>
                            to contribute to NLP related pipelines.</li>
                        <li>Later, mid-year I joined <a class="link-underline" href="https://kareai.io/"
                                target="_blank">KareAI <i class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>
                            as Project Associate and worked on a product similar to <a class="link-underline"
                                href="https://julius.ai/" target="_blank">Julius AI <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>.</li>
                        <li>Created and managed website for our newly inaugurated <a class="link-underline"
                                href="https://jssuninoida.edu.in/" target="_blank">JSS University <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>. 1500+ admissions
                            were processed through it.</li>
                        <li>Around August, I joined early stage startup <a class="link-underline"
                                href="https://weya.ai/" target="_blank">Weya AI <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a> as GenAI Engineer
                            Intern to work on agentic voice AI from scratch.</li>
                        <li>I worked closely with <a class="link-underline"
                                href="https://www.linkedin.com/in/learnmlwithhasan/" target="_blank">Hasan <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>, <a
                                class="link-underline" href="https://www.linkedin.com/in/atulyaatul1999/"
                                target="_blank">Atul <i class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>
                            and <a class="link-underline" href="https://www.linkedin.com/in/himanshu-ht/"
                                target="_blank">Himanshu <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a> to build voice AI for
                            customer support.</li>
                    </ul>
                </li>
                <li>
                    <strong>2023-24</strong>
                    <ul>
                        <li>Participated in various hackathons, contributing in backend + ML stuffs; <span
                                class="text-special">failed to win</span> any of them :/</li>
                        <li>The best we could do was being national finalists Amazon HackOn S3 (Top 50 out of 50K
                            registrations).</li>
                        <li>I joined <a class="link-underline" href="https://basetech.in" target="_blank">BaseTech <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a> as backend intern,
                            initially worked on admin dashboard for <a class="link-underline" href="https://tmyyoz.com"
                                target="_blank">Tmyyoz <i class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>
                            from scratch.</li>
                    </ul>
                </li>
                <li>
                    <strong>2022-23</strong>
                    <ul>
                        <li>Spent time learning Machine Learning.</li>
                        <li>Joining GDG (formerly GDSC) and delivered some sessions to juniors.</li>
                        <li>Tried to get ML related internship but couldn't get <span class="text-special">a single
                                one.</span> Peak downfall period.</li>
                    </ul>
                </li>
                <li>
                    <strong>2021-22</strong>
                    <ul>
                        <li>College life begins.</li>
                        <li>Spent most time doing competitive programming.</li>
                        <li>Did few freelance projects related to graphics programming using OpenGL.</li>
                    </ul>
                </li>
                <li>
                    <strong>2020-21</strong>
                    <ul>
                        <li>Created discord bot for QB64 Official Discord server to help with documentation and running
                            programs.</li>
                        <li>The bot was able to execute QB64 code snippets. All thanks to <a class="link-underline"
                                href="https://github.com/flukiluke/L-BASIC" target="_blank">Luke's L-BASIC project <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>.</li>
                        <li>Started working on this <a class="link-underline"
                                href="https://github.com/AshishKingdom/QB64-OpenGL-Engine" target="_blank">Open-World
                                game engine <i class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>, after
                            being able to code something like <a class="link-underline"
                                href="https://www.youtube.com/watch?v=v3D9e1SycxM" target="_blank">this <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a> from scratch.</li>
                        <li>Eventually, I had to pause the project due to lack of time and resources (JEE exams).</li>
                    </ul>
                </li>
                <li>
                    <strong>2019-20</strong>
                    <ul>
                        <li>High School :/</li>
                        <li>Active maintainer of QB64 Wiki along with other community members</li>
                        <li>Handling X social account of QB64 Team.</li>
                    </ul>
                </li>
                <li>
                    <strong>2018-19</strong>
                    <ul>
                        <li>Contributed to QB64 itself by adding support for MSAA 4x in OpenGL mode.</li>
                        <li>This improvement enhanced the visual quality of graphics rendered using QB64's OpenGL mode.
                        </li>
                        <li>I started working on my solo game project <a class="link-underline"
                                href="https://github.com/AshishKingdom/Hunter-Revenge" target="_blank">Hunter's Revenge
                                <i class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a> using QB64.</li>
                        <li>It was a 2D shooter game with pixel art graphics. You can download it from <a
                                class="link-underline" href="https://kingashish.itch.io/hunters-revenge"
                                target="_blank">itch.io <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a> or <a
                                class="link-underline"
                                href="https://qb64phoenix.com/forum/archive/index.php?thread-2332.html"
                                target="_blank">QB64 Forum <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>.</li>
                    </ul>
                </li>
                <li>
                    <strong>2017-18</strong>
                    <ul>
                        <li>I was fascinated by <a class="link-underline" href="https://p5js.org/" target="_blank">p5.js
                                <i class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>, spend some time
                            learning it as well as reading <a class="link-underline" href="https://natureofcode.com/"
                                target="_blank">Nature of Code <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a> by <a
                                class="link-underline" href="https://github.com/shiffman" target="_blank">Daniel
                                Shiffman <i class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>.</li>
                        <li>I co-created <a class="link-underline" href="https://github.com/AshishKingdom/p5js.bas"
                                target="_blank">p5js.bas <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a> with <a
                                class="link-underline" href="https://github.com/FellippeHeitor" target="_blank">Fellippe
                                <i class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>, which is a QB64
                            version of p5.js.</li>
                        <li>It was a big project and took several months to complete. We got a lot of positive feedback
                            from QB64 community.</li>
                        <li>Our work was appreciated by <a class="link-underline" href="https://x.com/laurenleemack"
                                target="_blank">Lauren McCarthy <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a> (creator of p5.js)
                            and was featured on some blogs.</li>
                    </ul>
                </li>
                <li>
                    <strong>2016-17</strong>
                    <ul>
                        <li>I created GUI framework <a class="link-underline" target="_blank"
                                href="https://github.com/AshishKingdom/aKFrameWork">aKFrameWork <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a> for rendering and
                            managing Windows style dialog boxes in QB64.</li>
                        <li>It was well appreciated by QB64 community and received tons of feedback.</li>
                        <li>But, it was complex to use and I was too lazy to write documentation.</li>
                        <li><a class="link-underline" target="_blank" href="https://github.com/FellippeHeitor">Fellippe
                                <i class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a> got inspired by this,
                            gave a way more better framework <a class="link-underline" target="_blank"
                                href="https://github.com/FellippeHeitor/InForm">InForm <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a> 3 years after.</li>
                    </ul>
                </li>
                <li>
                    <strong>2015-16</strong>
                    <ul>
                        <li>QB64 community helped me improve my programming skills. I posted <a class="link-underline"
                                target="_blank" href="https://github.com/AshishKingdom/GUI-Menu-Bar">GUI Menu Library <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a> which was well
                            appreciated by the community.</li>
                        <li>I was also learning Web Development simultaneously, using free resources like <a
                                class="link-underline" target="_blank" href="https://www.w3schools.com/">W3Schools <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a> and <a
                                class="link-underline" target="_blank"
                                href="https://www.tutorialspoint.com/">TutorialsPoint <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>.</li>
                        <li>I created some small projects with the help of HTML, CSS, JavaScript, jQuery, Bootstrap, PHP
                            and MySQL.</li>
                    </ul>
                </li>
                <li>
                    <strong>2014-15</strong>
                    <ul>
                        <li>Wrote my first "Hello World" in QB64. Explored programming in same language, mostly
                            graphics.</li>
                        <li>I posted my first program to <a class="link-underline" target="_blank"
                                href="https://www.qb45.org/">QB45 Forum <i
                                    class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></a>, <i>Paintash</i>,
                            which was a simple paint application. It has overall 1300+ downloads.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>